[Unit]
Description = CaBot BLE Server

[Service]
ExecStart = /opt/cabot-ble-server/launch.sh
Restart = always
WorkingDirectory = /opt/cabot-ble-server
Type = simple

[Install]
WantedBy = default.target
