[Unit]
Description = CaBot BLE Server

[Service]
ExecStart = docker-compose up ble
Restart = always
WorkingDirectory = /opt/cabot-ble-server
Type = simple

[Install]
WantedBy = default.target
